.hero {
  color: #f8f8f8;
  padding: calc(44px + 4em) 1em 2em 1em;
  background-image: linear-gradient(to right top, #846394, #5a537c, #364160, #1b2e42, #0a1b25);
}

.hero-flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.hero-text {
  flex: 1 1 0;
}

.hero-text h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 3rem;
  margin: .5em 0;
}

/* --------- 
  Images 
-----------*/

.image-container {
  position: relative;
  flex: 1 1 0;
}

.images {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.reverals {
  box-sizing: border-box;
  width: 100%;
  color: rgb(233, 233, 233);
  margin: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.39);
  display: none;
  position: absolute;
  bottom: 0;
}

.reverals a {
  color: rgb(204, 204, 204);
}

.images:hover + .reverals {
  display: block;
}